* {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #34CBB6;
}

a:hover {
    text-decoration: none;
}

#welcome a{
    display: flex;
    flex-flow: wrap row;
    font-size: medium;
    margin: 0;
    padding: 0px;

}


nav {
    display: flex;
}

li#welcome{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 10px 20px 0px 40px;
}
.fa-user-check:before{
    margin-right: 10px;
    /* font-family: 'Noto Sans JP', sans-serif; */
}


.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #f7f9f9;
    opacity: 90%;
    transition: all .5s ease;
    z-index: 10;
}

.sidebar .mymenu {
    font-size: 22px;
    color: #ffffff;
    line-height: 70px;
    text-align: center;
    background: #34CBB6;
    user-select: none;
    /* position: relative; */
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 45px;
    font-size: 20px;
    color: #34CBB6;
    padding-left: 40px;
    box-sizing: border-box;
    /* border-bottom: 1px solid #34CBB6;
border-top: 1px solid rgba(255, 255, 255, .1); */
    transition: .4s;
}

ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
}

#check {
    display: none;
}

label #btn,
label #cancel {
    position: absolute;
    background: #FFFFFF;
    border-radius: 3px;
    cursor: pointer;
}

label #btn {
    left: 20px;
    top: 20px;
    font-size: 35px;
    color: #34CBB6;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel {
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked~.sidebar {
    left: 0;
}

#check:checked~label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked~label #cancel {
    left: 195px;
}

#check:checked~section:first-child {
    margin-left: 250px;
}

section:first-child {
    background: url(bg.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
}

.menubox button {
    margin: 5px;
}

.menubox {
    margin-left: 40px;
}

.menubox a {
    position: relative;
    /* left: 90px; */
}

.sidebar li .button-more {
    padding-left: 130px;
}

.sidebar li:hover .button-more {
    padding-left: 140px;
}
/* Header */
a:hover {
    text-decoration:none;
}

header{
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: sticky; */
    top: 0;
    z-index: 9;
    border-bottom: solid;
}


.title-search {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 500px;
}

#searchbar {
    position: relative;
    height: fit-content;
    border: solid 2px #34cbb6;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 50px;
    width: 800px;
    flex-wrap: wrap;
}

.inSearch {
    display: flex;
    user-select: none;
    flex-flow: wrap;
}

.ingredient {
    width: fit-content;
    height: fit-content;
    padding: 2px 12px;
    border: solid 2px #f09da4;
    background: #f09da4;
    color: #ffffff;
    margin-right: 5px;
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 10px;
    position: relative;
    font-size: large;
}

.ingredient .fa-times-circle{
    position: absolute;
    right: 3px;
    top: 5px;
    font-size: 10px;
    visibility: hidden;
}

.inSearch .ingredient:hover .fa-times-circle{
    visibility: visible;
}

.ingredient:hover{
    cursor: pointer;
}

.ingredient>img{
    width: 20px;
    height: 20px;
}

input[type="text" i]{
    border: none;
    width: 100%;
    background-color: transparent;
    font-size: 25px;
}

input[type="text" i]:focus{
    outline: none;
}

.fa-search{
    padding: 5px;
    font-size: 25px;
    position: absolute;
    right: 15px;
}

.fa-search:hover{
    cursor: pointer;
}

.label{
    margin-right: 20px;
    font-family: 'Pacifico', cursive; 
}

.suggest_ingredients{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
    margin-bottom: 20px;
}

.inputSearch {
    position: absolute;
    background-color: white;
    z-index: 99;
    font-size: 20px;
    top: 100%;
    left: 0;
    right: 0;
}

.ingre_result{
    border-top: solid rgb(207, 207, 207) 1px;
    padding: 10px 10px;
}

.ingre_result:hover{
    background-color: rgb(207, 207, 207);
}

.ingre_result:last-child{
    border-bottom: solid #34CBB6 1px;
}


header > .title {
    /* position: fixed;
    top: 10px;
    right: 10px; */
    margin: 15px;
    padding: 20px;
    border: 3px solid #34CBB6;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* header .fas {
    color: #34CBB6;
} */
  
.title > h2 {
    font-family: 'Pacifico', cursive;
    color: #34CBB6;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.title {
    /* border: 3px solid #34CBB6;
    border-radius: 5px; */
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 20px;
    margin: 15px;
    padding: 25px;
}
  
.fa-cloud-meatball{
    color: #34CBB6;
    margin-bottom: 5px;
}

.fa-search{
    padding: 5px;
    font-size: 25px;
    position: absolute;
    right: 15px;
    margin: 0;
    color: #E86B75;
}
/* Header - end */

/* Profile */
.profile{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.profile a{
    margin: 10px;}


.profile input[type=text] {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  
  .profile input[type=text]:focus {
    border-color: #34CBB6;
    color: #ffffff;
  }
  
  .profile input[type=submit] {
    padding: 10px 15px;
    background: #f09da4;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    font-size: small;
    margin: 10px;
  }
  
  .profile h3{
    font-family: 'Pacifico', cursive;
    color: #34CBB6;

  }


/* Header bar responsive */
@media (max-width: 1720px) {
    .title-search {
        margin-left: 350px;
    }
}

@media (max-width: 1460px) {
    .title-search {
        margin-left: 250px;
    }
}

@media (max-width: 1420px) {
    .title-search {
        margin-left: 170px;
    }
}

@media (max-width: 1279px) {
    header{
        flex-direction: column;
    }

    .title-search {
        margin-left: 0;
        flex-direction: column-reverse;
    }

    #searchbar {
        width: 980px;
    }
}

@media (max-width: 991px) {
    #searchbar {
        width: 750px;
    }
}

@media (max-width: 767px) {
    .search-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #searchbar {
        width: 500px;
    }
    
}

@media (max-width: 575px) {
    #searchbar {
        width: 350px;
    }
    .suggest_ingredients {
        width: 350px;
    }
}
/* Header bar responsive - end */

